{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}" />
<div class="float_right">
    <a href="{% url 'shop:bought' %}">My Cart</a>
    {{cart_sum}} items
</div>


<h1>Products available</h1>
{% for prod in product_list.all %}
    <div class="floated_img">
        <img class="grid_img" src="{{prod.image_set.all.0.image.url}}" alt="Image N/A" >
        <p class="descr">Price: {{prod.official_price}}<br>{{prod.product_name}}</p>

        <form action="{% url 'shop:add_to_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="product_bought" id="{{ prod.id }}" value="{{ prod.id }}">Add to cart</button>
        </form>
    </div>
{% endfor %}



